<fieldset formGroupName="userForm" class="user-form">
  <app-shared-input
    [control]="email"
    label="Email"
    type="email"
    placeholder="Enter your email"
  ></app-shared-input>
  <app-validation-errors
    [control]="email"
    [messages]="validationMessages"
    label="Email"
  />

  <app-shared-input
    [control]="username"
    label="Username"
    placeholder="Enter your username"
  ></app-shared-input>
  <app-validation-errors
    [control]="username"
    [messages]="validationMessages"
    label="Username"
  />

  <app-shared-input
    [control]="password"
    label="Password"
    type="password"
    placeholder="Enter your password"
  ></app-shared-input>
  <app-validation-errors
    [control]="password"
    [messages]="validationMessages"
    label="Password"
  />

  <app-shared-input
    [control]="confirmPassword"
    label="Confirm Password"
    type="password"
    placeholder="Confirm your password"
  ></app-shared-input>
  <app-validation-errors
    [control]="confirmPassword"
    [messages]="validationMessages"
    label="Confirm Password"
  />
  @if(currentStep() === 2){
  <div class="flex gap-3 mt-2">
    <button
      class="shadow-layered block ml-auto btn btn-md btn-soft btn-primary mt-4"
      type="button"
      (click)="validateUserData()"
    >
      <div class="flex">
        <span class="m-auto"> Next </span>
        <img src="/icon/arrow-right.svg" alt="" />
      </div>
    </button>
  </div>
  }
</fieldset>
