<div class="table-container">
  <table class="table">
    <thead *ngIf="config().showHeader !== false">
      <tr>
        <th *ngIf="config().enableSelection">
          <app-select-all-header
            [data]="viewState().pagedData"
            [selectedItems]="viewState().selectionState.selectedItems"
            (selectAllChange)="onSelectAllChange($event)"
          ></app-select-all-header>
        </th>
        <th
          *ngFor="let column of config().columns"
          [appSortableHeader]="column.field"
          [currentSort]="viewState().sortState"
          (sortChange)="onSortChange($event)"
          [style.width]="column.width"
          [style.textAlign]="column.align"
        >
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of viewState().pagedData; let i = index"
        [appRowSelectable]="item"
        [selectedItems]="viewState().selectionState.selectedItems"
        (selectionChange)="onSelectionChange($event)"
      >
        <td *ngIf="config().enableSelection">
          <input
            type="checkbox"
            [checked]="viewState().selectionState.selectedItems.includes(item)"
            (change)="$event.stopPropagation()"
          />
        </td>
        <td
          *ngFor="let column of config().columns"
          [style.textAlign]="column.align"
        >
          {{ item[column.field] }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-footer" *ngIf="config().showFooter !== false">
    <div class="pagination-container" *ngIf="config().enablePagination">
      <app-pagination
        *ngIf="!config().customPagination"
        [config]="paginationConfig()"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
      <ng-content select="[pagination]"></ng-content>
    </div>
  </div>
</div>
