<div
  class="grow p-1 -skew-x-12"
  [ngClass]="{
    'bg-[var(--info-bg-light)]': step() === 1,
    'bg-[var(--info-bg-dark)]': step() === 2,
    'bg-[var(--info-bg-dark)]': step() === 3
  }"
></div>
<div
  class="grow p-1 -skew-x-12"
  [ngClass]="{
    'bg-[var(--info-bg-light)]': step() === 1,
    'bg-[var(--info-bg-dark)]': step() === 2,
    'bg-[var(--info-bg-dark)]': step() === 3
  }"
></div>
<div
  class="grow p-1 -skew-x-12"
  [ngClass]="{
    'bg-[var(--info-bg-light)]': step() === 1,
    'bg-[var(--info-bg-dark)]': step() === 2,
    'bg-[var(--info-bg-dark)]': step() === 3
  }"
></div>
