<div class="border  bg-white relative">
  <input
    type="text"
    class="w-full px-2 py-2"
    [placeholder]="placeHolder()"
    [value]="inputValue()"
    (input)="onInputChange($event)"
    (focus)="isDropdownOpen.set(true)"
    (blur)="onBlur()"

  />

  @if(isDropdownOpen()){

  <ul class="absolute top-full transform translate-y-1 left-0 bg-white right-0 rounded">
    @for (option of filteredOptions(); track option) {
    <li (click)="selectOption(option)" class="option">
      {{ option }}
    </li>
    }
  </ul>
  }
</div>
